# ignore .out file
*.out

# ignore all files in the following directories
output_default*/
output_folder/
# config/
# parameters/
obstacles/
.vscode/*

robotflocksim_main
robotflocksim_main_server
gmon.out
